body {
  text-align: center;
  background: repeat url("https://images4.alphacoders.com/594/thumb-1920-594600.jpg");
  font-family: 'Oswald', sans-serif;
  color: white;
}
.event {
 border: solid 2px white;
  border-radius: 3px;
  padding: 35px;
  margin-top: 65px;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px
}

code {
  font-family: 'Oswald', sans-serif;
}
a:link {
  color: white
}
a:visited{
  color: white

}
a:hover {
  color:grey
}
